// ? FOOTER STYLES
footer.footer{
    background-color: #000000;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    p{
        margin-bottom: 0;
    }
}